*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
main {
    width: 1366px;
    height: 2000px;
    background-image: linear-gradient(135deg,#F26363,#F0EBEB);
    background-size: 500%;
    animation: fanimado 10s infinite;
    margin: 0 auto;
}

header {
    width: 1366px;
    height: 200px;
    text-align: center;
    font-family: "Spicy Rice", system-ui;
    color: #F26363;
    background-image: url(Imagenes/Recurso\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    width: 1366px;
    height: 50px;
    background-color: #F0EBEB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

nav a {
    color: #87BEB9;
    text-decoration: none;
    padding: 15px;
    font-family: "Oleo Script", system-ui;
    transition: .5s;

}

nav a:hover {
    background-color: #326173;
    transform: scale(1.2);
}

section {
    width: 1366px;
    height: 1500px;
    text-align: center;
    color: #ffe5b3;
    font-family: "Oleo Script", system-ui;
    padding: 10px;
    font-size: 66px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-block: 3rem;
    
}
.container{
    width: 100%;
     display: flex;
     max-width: 1100px;
     margin: 0% auto;
 }
 .card {
     width: 100%;
     margin: 20px;
     border-radius: 6px;
     overflow: hidden;
     font-size: small;
     color: #000000;

     background: #F5DDAD;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
     cursor: default;
     transition: all 400ms ease;
     
 }
 .card:hover {
     box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
     transform: translateY(-3%);
 
 }
 .card img{
     width: 100%;
     height: 210px;
 }
 .card .CONFERENCISTAS p{
     line-height: 1.5;
     color: #000000;
 }
 .card .CONFERENCISTAS h2{
     font-weight:400;
     margin-bottom: 15px;
     
 }
 .card .CONFERENCISTAS a{
     text-decoration: none;
     display: inline-block;
     margin-top: 8px;
     color: #326173;
     border: 1px solid #326173;
     border-radius: 4px;
     transition: all 400ms ease;
 }
 .card .CONFERENCISTAS a:hover{
     background: #326173;
     color: #fff;
 }
 
 .slider-frame{
     width: 1280px;
     height: auto;
     margin: 50px auto 0;
     overflow: hidden;
 }
 .slider-frame ul{
     display: flex;
     padding: 0;
     width: 400%;
     animation: slide 16s infinite alternate ease-in-out;
 }
 .slider-frame li{
     list-style: none;
     width: 100%;
 }
 .slider-frame img {
  width:100% ;
 }
 @keyframes slide {
     0% {margin-left: 0%;}
     20% {margin-left: 0%;}
 
     25% {margin-left: -100%;}
     45% {margin-left: -100%;}
 
     50% {margin-left: -200%;}
     70% {margin-left: -200%;}
 
     75% {margin-left: -300%;}
     95% {margin-left: -300%;}
 }
 @keyframes fanimado{
    0%{
        background-position: 0%,50%;
    }
    50%{
        background-position: 100%,50%;
    }
    100%{
        background-position: 0%,50%;
    }
 }

footer {
    width: 1366px;
    height: 250px;
    background-color: #EFD2D2;
}